@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Navigation Bar of Workout Page */

.navbar {
    width: 100%;
    height: 80px;
    background-color: #222;
    padding: 0px clamp(20px, 10vw, 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(73, 73, 73, 0.4);
    position: fixed;
    z-index: 9999;
}

.navbar .logo img {
    /* color: whitesmoke;
    font-size: 28px;
    font-weight: 600; */
    width: 100px;
}

.navbar .list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar li a {
    color: whitesmoke;
}

.navbar .list input {
    height: 38px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: #000;
    padding: 0px 10px;
}

.navbar .login {
    padding: 4px 15px;
    color: #000;
    background-color: #F05F28;
    border-radius: 5px;
    font-weight: 400;
}

#check,
label {
    display: none;
    font-size: 24px;
    padding: 0px 0px;
    color: whitesmoke;
}







/* Workout Home Page */
.workout-home {
    width: 100%;
    height: 100vh;
    background-image: url("/static/images/slide-4.jpg");
    background-size: cover;
    background-position: center;
    /* position: fixed; */
    top: 80px;
    padding: clamp(10px, 10vw, 100px) clamp(20px, 10vw, 100px) 10px clamp(20px, 10vw, 100px);

}

.workout-home h1 {
    color: whitesmoke;
    font-size: 42px;
    margin: 100px 0px 0px 0px;
}

.workout-home p {
    width: 450px;
    color: white;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin: 20px 0 40px 0;
}

.workout-home .start-btn {
    background-color: #F05F28;
    padding: 10px 30px;
    color: white;
    /* margin: 30px 0px; */
    border-radius: 4px;
    display: inline-block;
}






/* Plans and Offers Section  */

.plan {
    width: 100%;
    height: auto;
    margin: 0px auto 0px auto;
    padding: 10px clamp(20px, 10vw, 100px) 100px clamp(20px, 10vw, 100px);
    background-color: #161b21;
    /* border: 2px solid darkmagenta; */

}

.plan .plan-heading {
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 30px;
}

.plan-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    /* border: 2px solid #F05F28; */
}

.plan-content {
    width: 300px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}

/* special plan  */

.plan-container .special-plan {
    /* width: 400px; */
    transform: scale(1.3);
}

.plan-content h1 {
    margin: 20px 0px;
}

.plan-content .price {
    color: #F05F28;
    font-size: 28px;
    /* padding: 0px 20px; */
    /* margin: 20px; */

}

.plan-content .free {
    color: #000;
    margin: 10px 0px;
    font-weight: 500;
}

.plan-content ul li {
    text-align: center;
    padding: 0px 6px;
    color: black;
    line-height: 1.4;
    /* list-style-image: url('img/correct.png'); */
}

.plan-content button {
    border-color:#F05F28;
    padding: 7px 30px;
    color: white;
    background-color: #F05F28;
    margin: 20px;
    border-radius: 8px;
}







/* What we do Section */

.what-we-do {
    width: 100%;
    height: auto;
    margin: 50px auto 0px auto;
    padding: 10px clamp(20px, 10vw, 100px) 100px clamp(20px, 10vw, 100px);
    /* background-color: #161b21; */
    /* border: 2px solid darkmagenta; */

}


.what-we-do .sub-heading {
    color: #F05F28;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.what-we-do .main-heading {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

.what-we-do-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.what-we-do-content {
    width: 287px;
    /* border: 2px solid #F05F28; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
}

.what-we-do-container .orange {
    background-color: #F05F28;
    transition: all 0.5s ease;
}

.what-we-do-container .orange:hover {
    background-color: #000;
}

.what-we-do-container .black {
    background-color: #000;
    transition: all 0.5s ease;
}

.what-we-do-container .black:hover {
    background-color: #F05F28;
}

.what-we-do-content #img-data {
    width: 288px;
    height: 326px;
    object-fit: cover;
    padding: 0px;
    transition: all 0.5s ease;
}

.what-we-do-content #img-data:hover {
    opacity: 0.6;
}

.what-we-do-content h1 {
    padding: 5px;
    color: white;
}

.what-we-do-content p {
    text-align: justify;
    margin: 10px 0px;
    padding: 5px 12px;
    color: white;
    font-size: 14px;
}

.what-we-do-content a {
    margin: 10px 30px;
    border: 1px solid #fff;
    padding: 5px 15px 5px 20px;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s ease;
}

.what-we-do-content a:hover {
    background-color: #F05F28;
    color: whitesmoke;
}

.what-we-do-content i {
    margin: 0 0px 0 20px;
    font-size: 15px;
}



















/* Very small Devices */
@media screen and (max-width: 400px) {}

/* Android Smartphones */
@media screen and (max-width: 480px) {}

/* Large Android Smartphones */
@media screen and (max-width: 767px) {
    .social-media {
        display: none;
    }

    label {
        display: block;
    }

    .navbar .list {
        display: block;
        position: fixed;
        top: 80px;
        /* top: -100%; */
        /* left: -100%; */
        right: -100%;
        background-color: #333;
        width: 100%;
        height: 100vh;
        /* border-radius: 0%; */
        text-align: center;
        /* padding: 20px ; */
        transition: all .5s ease-in-out;
    }

    .navbar li {
        padding: 20px 0px;
    }

    #check:checked~.list {
        /* left: 0px; */
        right: 0px;
        top: 80px;
        border-radius: 0%;
    }

    .plan-container {
        flex-direction: column;
        height: auto;
        margin: 0px;
    }

    .plan-content {
        margin: 20px;
    }

    .plan-container .special-plan {
        /* width: 400px; */
        transform: scale(1);
    }
    .workout-home p{
       width: 400px;
    }
    .what-we-do-container {
        display: block;
    }
    .what-we-do-content {
        width: 100%;
        margin: auto auto;
    }
    .what-we-do-content #img-data{
        width: 100%;
    }


}


/*  Tablets*/
@media screen and (max-width: 1000px) {
    .navbar .list input {
        display: none;
    }

    .navbar .list .login {
        display: none;
    }

}




































/* Starting of Footer Section  */

.footer {
    background-color: #000;
    padding: 10px 50px;
}

.footer .footer-head {
    color: whitesmoke;
    text-align: center;
}

.footer form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid white; */
    margin: 20px 0px;
}

.footer input[type=text] {
    width: 40%;
    height: 50px;
    border: none;
    font-size: 16px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
}

.footer input[type=submit] {
    width: 10%;
    height: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;

}


.footer-container {
    max-width: 1170px;
    background-color: #000;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 17%;
    padding: 0 15px;
}

.footer-contact-column {
    width: 32%;
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: whitesmoke;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column,
ul,
li,
a,
.footer-icons {
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(180, 180, 180);
    /* display: block; */
    transition: all 0.3s ease;
}

.footer i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-column,
.footer-contact-column ul,
li,
a:hover {
    color: #fff;
}


.footer-social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
    color: whitesmoke;
    font-weight: 500;
}

@media(max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type=text] {
        width: 70%;
    }

    .footer input[type=submit] {
        width: 30%;
    }
}

@media(max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}


/* Ending of Footer Section  */