@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #222;
    padding: 0px clamp(20px, 10vw, 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(73, 73, 73, 0.4);
    position: fixed;
    z-index: 9999;
}

.navbar .logo img {
    /* color: whitesmoke;
    font-size: 28px;
    font-weight: 600; */
    width: 100px;
}

.navbar .list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar li a {
    color: whitesmoke;
}

.navbar .list input {
    height: 38px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: #000;
    padding: 0px 10px;
}

.navbar .login {
    padding: 4px 15px;
    color: #000;
    background-color: #F05F28;
    border-radius: 5px;
    font-weight: 400;
}

#check,
label {
    display: none;
    font-size: 24px;
    padding: 0px 0px;
    color: whitesmoke;
}










.trainer-profile1 {
    width: 100%;
    /* height: 1000px; */
    margin: auto;
    padding: 100px clamp(20px, 7vw, 100px) 10px clamp(20px, 7vw, 100px);
    /* background-color: #161b21; */
    border: 10px solid darkmagenta;
    /* position: fixed; */
    top: 80px;
    /* background-size: ; */
}
.profile-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    /* border: 5px solid orangered; */
}

.profile-left-container {
    width: 40%;
    /* border: 10px solid; */
}

.profile-left-container h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0px 10px 0px;
}
.profile-left-container h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.profile-left-container p {
    font-weight: 600;
    margin: 0px 0px 0px 10px;
}

.profile-left-container p span {
    font-weight: 300;
    /* padding: 0px 0px 0px 10px; */
}
.about-profile p span {
    padding: 0px 0px 0px 10px;
    
}
.about-profile{
    /* border: 2px solid; */
    margin: 10px 0px 20px 0px;
}
.profile-left-container img {
    width: 100%;
}

.profile-right-container {
    width: 50%;
    margin-top: 90px;
    /* border: 10px solid;    */
}

.profile-right-container h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0px 0px 0px;
}

.profile-right-container .list li {
    color: black;
    margin: 0px 40px;
    list-style: disc;
}





.home {
    width: 100%;
    height: auto;
    border: 10px solid;
}

.home h1{
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 42px;
}
.home .home-container{
    width: 80%;
    height: 400px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.4);
    border: 5px solid crimson;

}



































/* Very small Devices */
@media screen and (max-width: 400px) {}

/* Android Smartphones */
@media screen and (max-width: 480px) {

    .workout-home {
        height: auto;
    }

    .gallary-container img {
        width: clamp(250px, 10vw, 320px);
        height: auto;
    }
}

/* Large Android Smartphones */
@media screen and (max-width: 767px) {
    .social-media {
        display: none;
    }

    label {
        display: block;
    }

    .navbar .list {
        display: block;
        position: fixed;
        top: 80px;
        /* top: -100%; */
        /* left: -100%; */
        right: -100%;
        background-color: #333;
        width: 100%;
        height: 100vh;
        /* border-radius: 0%; */
        text-align: center;
        /* padding: 20px ; */
        transition: all .5s ease-in-out;
    }

    .navbar li {
        padding: 20px 0px;
    }

    #check:checked~.list {
        /* left: 0px; */
        right: 0px;
        top: 80px;
        border-radius: 0%;
    }

    .profile-container {
        display: block;
    }
    
    .profile-left-container {
        width: 90%;
    }
    .profile-right-container {
        width: 90%;
    }


}


/*  Tablets*/
@media screen and (max-width: 1000px) {
    .navbar .list input {
        display: none;
    }

    .navbar .list .login {
        display: none;
    }

    .home-left-container {
        width: 100%;
    }

    .home-right-container {
        width: 100%;
        margin: 0px 0 0 0;
    }
}




































/* Starting of Footer Section  */

.footer {
    background-color: #000;
    padding: 10px 50px;
    /* color: #fff; */
}

.footer .footer-head {
    color: whitesmoke;
    text-align: center;
}

.footer form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid white; */
    margin: 20px 0px;
}

.footer input[type=text] {
    width: 40%;
    height: 50px;
    border: none;
    font-size: 16px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
}

.footer input[type=submit] {
    width: 10%;
    height: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;

}


.footer-container {
    max-width: 1170px;
    background-color: #000;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 17%;
    padding: 0 15px;
}

.footer-contact-column {
    width: 32%;
    padding: 0 15px;
}

.footer-column,
.footer-contact-column,
.footer-heading {
    font-size: 14px;
    color: whitesmoke;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.footer .footer-heading {
    font-size: 20px;
}

/* .foote-column,
.footer-contact-column ul li:not(:last-child) {
    margin-bottom: 10px;
} */

.footer-column,
.footer-contact-column,
ul,
li,
a,
.footer-icons {
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(180, 180, 180);
    /* display: block; */
    transition: all 0.3s ease;
}

.footer i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-column,
.footer-contact-column ul,
li,
a:hover {
    color: #fff;
}


.footer-social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.footer-social-media h3 a {
    font-size: 20px;
    margin: 0px 20px;
    color: whitesmoke;
    font-weight: 500;
}

@media(max-width: 767px) {

    .footer-column,
    .footer-contact-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer input[type=text] {
        width: 70%;
    }

    .footer input[type=submit] {
        width: 30%;
    }
}

@media(max-width: 574px) {

    .footer-column,
    .footer-contact-column {
        width: 80%;
        margin-bottom: 30px;
    }
}


/* Ending of Footer Section  */