{% extends "index.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2 Gym Cardio-Categories</title>
    <link rel="stylesheet" href="{% static 'css/CategoryExercise.css' %}">
   
</head>

<body>





    <section class="workout-home">
        <h1>Transform your life for better</h1>
        <p>If you want something you’ve bever hard, you must be willing to do something you’ve never done.</p>
        <a href="#" class="start-btn">START</a>
    </section>



    <section class="treadmill">

        {% for exe in exer %}
        <div class="treadmill-container">
            <div class="treadmill-img-data">
                <img src="{{exe.Image.url}}" alt="">
            </div>
            <h1>{{exe.Exer_Name}}</h1>
            <p>{{exe.Description}}</p>
        </div>
        {% endfor %}

        
    </section>




</body>

</html>

{% endblock %}