{% extends "index.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2 Gym - Membership</title>
    <link rel="stylesheet" href="membership.css">

    <script src="https://kit.fontawesome.com/50f95dd8c3.js" crossorigin="anonymous"></script>

</head>

<body>

   

    <section class="workout-home">
        <h1>Transform your life for better</h1>
        <p>If you want something you’ve bever hard, you must be willing to do something you’ve never done.</p>
        <a href="#" class="start-btn">START</a>
    </section>






    <!-- Plan and Offer section  -->
    <section class="plan">

        <h1 class="plan-heading">Our Pricing and Plan<br> 40% dicount</h1>

        <div class="plan-container">
            <div class="plan-content">
                <h1>3 Months</h1>
                <h4 class="price">Rs. 2799/-
                </h4>
                <span class="free">Single Class</span>

                <ul>
                    <li>Cardio Vascular Area</li>
                    <li>Curve Treadmill</li>
                    <li>Air Bike Cycle</li>
                    <li>Trampoline</li>
                    <li>Stair Mill</li>
                    <li>Cross Fit</li>
                    <li>Machine and Free Weight Area</li>
                </ul>
                <a href="#">Buy Now</a>
            </div>

            <div class="plan-content special-plan">
                <h1>12 Months</h1>
                <h4 class="price">Rs. 6999/-
                </h4>
                <span class="free">Single Class</span>

                <ul>
                    <li>Cardio Vascular Area</li>
                    <li>Curve Treadmill</li>
                    <li>Air Bike Cycle</li>
                    <li>Trampoline</li>
                    <li>Stair Mill</li>
                    <li>Cross Fit</li>
                    <li>Machine and Free Weight Area</li>
                </ul>
                <a href="#">Buy Now</a>
            </div>

            <div class="plan-content">
                <h1>6 Months</h1>
                <h4 class="price">Rs. 5099/-
                </h4>
                <span class="free">Single Class</span>

                <ul>
                    <li>Cardio Vascular Area</li>
                    <li>Curve Treadmill</li>
                    <li>Air Bike Cycle</li>
                    <li>Trampoline</li>
                    <li>Stair Mill</li>
                    <li>Cross Fit</li>
                    <li>Machine and Free Weight Area</li>
                </ul>
                <a href="#">Buy Now</a>
            </div>
        </div>
    </section>






    <!-- What we do Section -->

    <section class="what-we-do">
        <h2 class="sub-heading">What We Do?</h2>
        <h1 class="main-heading">Push Your Limit Forward</h1>
        <div class="what-we-do-container">

            <div class="what-we-do-content orange">
                <h1 class="content-head">Weight Lifting</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, debitis dignissimos. Expedita, laboriosam odio, beatae in error enim saepe vitae quia totam soluta nam suscipit, illo eius consequuntur obcaecati dignissimos!</p>

                <a href="#">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>

            <div class="what-we-do-content">
                
                <img id="img-data" src="img/slide-4.jpg" alt="">
            </div>

            <div class="what-we-do-content black">
                <h1 class="content-head">Cardio & Strength</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, debitis dignissimos. Expedita, laboriosam odio, beatae in error enim saepe vitae quia totam soluta nam suscipit, illo eius consequuntur obcaecati dignissimos!</p>

                <a href="#">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>

            <div class="what-we-do-content">
                <img id="img-data" src="img/home-6.jpg" alt="">
            </div>

            <div class="what-we-do-content">
                <img id="img-data" src="img/home-7.jpg" alt="">
            </div>

            <div class="what-we-do-content black">
                <h1 class="content-head">CrossFit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, debitis dignissimos. Expedita, laboriosam odio, beatae in error enim saepe vitae quia totam soluta nam suscipit, illo eius consequuntur obcaecati dignissimos!</p>

                <a href="#">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>

            <div class="what-we-do-content">
                <img id="img-data" src="img/home-5.jpg" alt="">
            </div>

            <div class="what-we-do-content orange">
                <h1 class="content-head">Boxing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, debitis dignissimos. Expedita, laboriosam odio, beatae in error enim saepe vitae quia totam soluta nam suscipit, illo eius consequuntur obcaecati dignissimos!</p>

                <a href="#">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>







   
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>




    <script src="swiper.js"></script>
    <script src="review.js"></script>



</body>

</html>
{% endblock %}
