{% extends "index.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2 Gym - Trainer Profile</title>
    <link rel="stylesheet" href="{% static 'css/TrainerProfile.css' %}">
</head>
<body>


    <section class="trainer-profile1">
        <div class="profile-container">
            <div class="profile-left-container">
                <h1 class="profile">Trainer Profile</h1>
                <div class="img-data">
                    <img src="img/Weight-lifting.jpg" alt="">
                </div>

                <div class="about-profile">
                    <h1 class="about-heading">About</h1>
                    <p>Weight <span>68 KG</span></p>
                    <p>Height <span>5'8 ft</span></p>
                </div>
                
                <div class="contact-profile">
                    <h1 class="contact-heading">About</h1>

                    <p>Email: <span>profile1@gmail.com</span></p>
                    <p>Mobile: <span>+91 0987654321</span></p>
                    <p>Address: <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, vero.</span></p>

                </div>

            </div>
    
    
            <div class="profile-right-container">
                <div class="specility">
                    <h1>Specialities</h1>
                    <ul>
                        <li>Weigh Loss</li>
                        <li>Body Recomposition</li>
                        <li>Weight Lifting</li>
                        <li>Education in Healthy Lifestyle Change</li>
                        <li>Boxing Based Workouts</li>
                    </ul>
                </div>

                <div class="qualification">
                    <h1>Qualification</h1>
                    <ul>
                        <li>HND Fitness Health and Exercise</li>
                        <li>Level 3 Personal Training</li>
                        <li>Level 2 Gym Instructor</li>
                        <li>Circuit Training</li>
                        <li>Boxercize</li>
                    </ul>
                </div>

                <div class="achievement">
                    <h1>Achievement</h1>
                    <ul>
                        <li>Shivpremi Rajya Gaurav Puraskar 2019</li>
                        <li>First Indian Bodybuilder to Achieve PRO CARD</li>
                        <li>Mr. Amateur Olypia (2018)- Champion of Champion.</li>
                        <li>Mr. Asia Body Building Title (2010).</li>
                        <li>Mr. Olympia Amateur Body Building 1st Runner-Up (2012).</li>
                        
                    </ul>
                </div>

                <div class="what-we-do">
                    <h1>What I Can Do For You</h1>
                    <ul>
                        <li>Wake up with a cup of coffee before your morning workout.</li>
                        <li>Walk into the gym with a plan.</li>
                        <li>Get motivated with a solid workout playlist.</li>
                        <li>Start your workout with some dynamic stretches.</li>
                        <li>Maximize your gym time by minimizing rest between exercises.</li>
                        
                    </ul>
                </div>
            </div>

        </div>
    </section>





    <section class="home"> 

    </section>
    
</body>
</html>

{% endblock %}