{% extends "index.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2 Gym - Trainer Profile</title>
    <link rel="stylesheet" href="{% static 'css/TrainerProfile.css' %}">

</head>
<body>





    <section class="trainer-profile1">
        <div class="profile-container">

            <div class="profile-left-container">
                <h1 class="profile">Trainer Profile</h1>

                <!--<h3>Home > Account > Trainer Profile</h3>-->
                <br>
                <div class="img-data">
                    <img src="{{trainer.Image.url}}" alt="">
                </div>

                <div class="about-profile">
                    <h1 class="about-heading">About</h1>
                    <p>Weight: <span>{{trainer.Weight}}</span></p>
                    <p>Height: <span>{{trainer.Height}}ft</span></p>
                </div>
                
                <div class="contact-profile">
                    <h1 class="contact-heading">Contact</h1>

                    <p>Email: <span>{{trainer.Email}}</span></p>
                    <p>Mobile: <span>{{trainer.Contact}}</span></p>
                    <p>Address: <span>{{trainer.Address}}</span></p>

                </div>

            </div>
    
    
            <div class="profile-right-container">
                <div class="specility">
                    <h1>Specialities</h1>
                    <ul class="list">
                        <li>{{trainer.Specialities|linebreaks}}</li>
                        
                    </ul>
                </div>

                <div class="qualification">
                    <h1>Qualification</h1>
                    <ul class="list">
                        <li>{{trainer.Qualification|linebreaks}}</li>

                    </ul>
                </div>

                <div class="achievement">
                    <h1>Achievement</h1>
                    <ul class="list">
                        <li>{{trainer.Achievement|linebreaks}}</li>                
                    </ul>
                </div>

                <div class="what-we-do">
                    <h1>What I Can Do For You</h1>
                    <ul class="list">
                        <li>{{trainer.Description|linebreaks}}</li>
                        
                    </ul>
                </div>
            </div>

        </div>
    </section>





    <section class="home"> 
        <h1>Training Schedule</h1>
        <div class="home-container">

        </div>
    </section>
    


</body>
</html>

{% endblock %}