{% extends "index.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2 Gym - Trainer</title>
    <link rel="stylesheet" href="{% static 'css/trainer.css' %}">
</head>
<body>




    <!-- Workout Home Section -->
    <section class="workout-home">
        <h1>Transform your life for better</h1>
        <p>If you want something you’ve bever hard, you must be willing to do something you’ve never done.</p>
        <a href="#" class="start-btn">START</a>
    </section>



    <!-- Our Professional Trainer -->
    {% for trn in profile %}
    <section class="trainer-details">
        <h1 class="trainer-details-heading">Our Professional Trainers</h1>
        <div class="trainer-container">
            <div class="trainer-left-container">
                <img src="{{trn.Image.url}}" alt="">
            </div>

            <div class="trainer-right-container">
                <h1>{{trn.Name}} - {{trn.Work}}</h1>
                <p>{{trn.Description}} </p>
                <a href="/TrainerProfile/{{trn.id}}" id="trainer-view-profile">View Profile</a>
            </div>
        </div>

    </section>
   {% endfor %}


</body>
</html>
{% endblock %}
