{% extends "index.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2-Gym Workout</title>
    <link rel="stylesheet" href="{% static 'css/workout.css' %}" type="text/css">

</head>

<body>

    <section class="workout-home">
        <h1>Transform your life for better</h1>
        <p>If you want something you’ve bever hard, you must be willing to do something you’ve never done.</p>
        <a href="#" class="start-btn">START</a>
    </section>


    <section class="workout-types">
        <div class="workout-types-container">

            <div class="workout-types-content">
                <img id="img-data" src="{% static 'images/Weight-lifting.jpg' %}" alt="">
                <div class="text-wrapper">
                    <img id="workout-icon" src="{% static 'images/man-lifting-weight.png' %}" alt="">
                    <h1>Weight Lifting</h1>
                </div>
                <div class="workout-info">
                    <p>Weight training, also known as resistance or strength training, builds lean, stronger muscles,
                        strengthens your bones and joints, and can help keep your metabolism in a healthy state —
                        meaning
                        you’ll burn more calories even when you’re resting.
                        Whether your goal is to build muscle mass or achieve a fitter, more toned body, lifting weights
                        can
                        help you get there.
                    </p>
                </div>


                <a href="/WorkoutSubcategory">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>

            {% for category in catg%}
            {% if category.id == 1 %}
            <br>
            {% else %}
            <div class="workout-types-content">
                <img id="img-data" src="{{category.Cat_Image.url}}" alt="">
                <div class="text-wrapper">
                    <img id="workout-icon" src="{{category.Cat_Logo.url}}" alt="">
                    <h1>{{category.Cat_Name}}</h1>
                </div>
                <div class="workout-info">
                    <p>{{category.Cat_Description}}</p>
                </div>

                <a href="/CategoryExercise/{{category.id}}">More
                    <i class="fas fa-solid fa-arrow-right"></i>
                </a>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </section>


    <!-- Trainers Details Section -->

    <section class="trainer">
        <h1 class="trainer-heading">Gym Trainer</h1>
        <div class="trainer-container">
            {% for trainer in trn %}
            <div class="trainer-content">
                <a href="/TrainerProfile/{{trainer.id}}">
                    <div class="img-data">
                        <img src="{{trainer.Image.url}}" alt="">
                    </div>
                </a>
                <h1>{{trainer.Name}}</h1>
                <h4>{{trainer.Work}}</h4>
            </div>
            {% endfor %}

        </div>
    </section>






    <!-- Plan and Offer section  -->
    <section class="plan">

        <h1 class="plan-heading">Our Pricing and Plan<br> 40% dicount</h1>

        <div class="plan-container">
            {% for pac in pack %}
            {% if pac.id == 2 %}

            <div class="plan-content special-plan">
                <h1>{{pac.Duration}}</h1>
                <h4 class="price">Rs. {{pac.Price}}/-
                </h4>
                <span class="free">Single Class</span>

                <ul>
                    <li>{{pac.Include|linebreaks}}</li>
                </ul>
                <a href="#">Buy Now</a>
            </div>

            {% else %}

            <div class="plan-content">
                <h1>{{pac.Duration}}</h1>
                <h4 class="price">Rs. {{pac.Price}}/-
                </h4>
                <span class="free">Single Class</span>

                <ul>
                    <li>{{pac.Include|linebreaks}}</li>
                </ul>
                <a href="#">Buy Now</a>
            </div>
            {% endif %}
            {% endfor %}





        </div>
    </section>



    <section class="review">
        <h1 class="review-heading">Reviews</h1>


        <!-- Starting of Student Review  Section -->

        <div class="review-container">

            <div class="swiper reviewSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div>
                                <img src="{% static 'images/arya.jpg' %}" alt="">
                            </div>
                            <div>
                                <h3>Arya Lanjewar<br><span class="review-title">Client</span></h3>
                            </div>
                            <div class="para">
                                <p><i class='fas fa-quote-left'"></i> I have my gratitude to them for making me bulky from a skinny girl! trainers are good, loved the way they advised us and showed us the right movement or how to concentrate while doing our sets. 
                                    I learned a lot from this gym and the workouts were really fun with friends there.
                                    <i class='fas fa-quote-right'></i></p>
                            </div>
                        </div>
                    </div>

                    <div class=" swiper-slide">
                                        <div class="review-card">
                                            <div>
                                                <img src="{% static 'images/sachin.jpg' %}" alt="">
                                            </div>
                                            <div>
                                                <h3>Sachin Sontakke<br><span class="review-title">Client</span></h3>
                                            </div>
                                            <div class="para">
                                                <p><i class='fas fa-quote-left'"></i> S2 Scientific Fitness is not a gym but a family. we not only workout but also make bond of togetherness.
                                    It also gives many more features other than exercises. 
                                    I am happy to be a part of S2 Scientific Fitness and will always be there.
                                    <i class='fas fa-quote-right'></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class=" swiper-slide">
                                                        <div class="review-card">
                                                            <div>
                                                                <img src="{% static 'images/yash.jpg' %}" alt="">
                                                            </div>
                                                            <div>
                                                                <h3>Yashn Yelpande<br><span
                                                                        class="review-title">Client</span></h3>
                                                            </div>
                                                            <div class="para">
                                                                <p><i class='fas fa-quote-left'"></i> Very neatly maintained gym. Great place to workout with flexible timings.
                                    Had excellent equipment. Trainers are very easy-going, good at communicating, and keeps you motivated.
                                    I’ve been going for a little bit and am already seeing a big change in my energy levels and body.
                                    <i class='fas fa-quote-right'></i></p>
                            </div>
                        </div>
                    </div>

                    <div class=" swiper-slide">
                                                                        <div class="review-card">
                                                                            <div>
                                                                                <img src="{% static 'images/rizik.jpg' %}"
                                                                                    alt="">
                                                                            </div>
                                                                            <div>
                                                                                <h3>Rizik Mohammad<br><span
                                                                                        class="review-title">Client</span>
                                                                                </h3>
                                                                            </div>
                                                                            <div class="para">
                                                                                <p><i class='fas fa-quote-left'"></i> It’s been a month here and we are really enjoying. 
                                    The staff and trainers are very warm and welcoming people. 
                                    We have interacted with most of the trainers and know that they are all very knowledgeable in fitness.
                                    We are looking forward to getting fitter and healthier. 
                                    Thanks<i class='fas fa-quote-right'></i></p>
                            </div>
                        </div>
                    </div>
                    <div class=" swiper-slide">
                                                                                        <div class="review-card">
                                                                                            <div>
                                                                                                <img src="{% static 'images/atik.jpg' %}"
                                                                                                    alt="">
                                                                                            </div>
                                                                                            <div>
                                                                                                <h3>AtikMohammad<br><span
                                                                                                        class="review-title">Client</span>
                                                                                                </h3>
                                                                                            </div>
                                                                                            <div class="para">
                                                                                                <p><i class='fas fa-quote-left'"></i> After a hard day's work, spending an hour in the gym at the S2 Scientific Fitness in Nagpur is a joy.
                                    The very professional coach, always smiling and courteous, instills a feeling of relaxation and harmony that are the right notes to feel at ease.
                                    Overall highly recommended.<i class='fas fa-quote-right'></i></p>
                            </div>
                        </div>
                    </div>

                    <div class=" swiper-slide">
                                                                                                        <div
                                                                                                            class="review-card">
                                                                                                            <div>
                                                                                                                <img src="{% static 'images/aniket.jpg' %}"
                                                                                                                    alt="">
                                                                                                            </div>
                                                                                                            <div>
                                                                                                                <h3>Aniket
                                                                                                                    Chaliye<br><span
                                                                                                                        class="review-title">Client</span>
                                                                                                                </h3>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="para">
                                                                                                                <p><i class='fas fa-quote-left'"></i> This is a fantastic gym!! All the trainers are super nice and take an interest in you no matter what fitness level you’re at. 
                                    I really like how they give me tips and tricks to get the most out of every workout.  
                                    It’s great! <i class='fas fa-quote-right'></i></p>
                            </div>
                        </div>
                    </div>

                    <div class=" swiper-slide">
                                                                                                                        <div
                                                                                                                            class="review-card">
                                                                                                                            <div>
                                                                                                                                <img src="{% static 'images/savi.jfif' %}"
                                                                                                                                    alt="">
                                                                                                                            </div>
                                                                                                                            <div>
                                                                                                                                <h3>Savi
                                                                                                                                    Karlewar<br><span
                                                                                                                                        class="review-title">Client</span>
                                                                                                                                </h3>
                                                                                                                            </div>
                                                                                                                            <div
                                                                                                                                class="para">
                                                                                                                                <p><i class='fas fa-quote-left'"></i> If you are fitness fan, then you have to visit this place. Actually this place is very hygienic, cool. 
                                    There are many updated equipments for workout.
                                    Pleasant ambience, well trained staff and world class equipments makes this gym perfect place for work out.
                                    <i class='fas fa-quote-right'></i>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class=" swiper-pagination">
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                            </div>
                                                                                                            <!-- Ending of Students reviews Section -->
    </section>
    <!-- Ending of Students reviews Section -->



</body>

</html>
{% endblock %}